@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* overflow: hidden; */
}

html{
    scroll-behavior: smooth;
}
.animcontainer{
    animation: transitionIn 2s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 5px;
    border-radius:5px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #FF16168c;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF16168c;
}
#loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    
    background:  url(../images/signaturenr.gif) no-repeat center center;
    
}

body{
    
    
    background-color: black;
    font-family: Montserrat, sans-serif;
    color: rgb(255, 255, 255);
    background: url("../images/sbg3.svg") no-repeat ;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 30px;
    font-family: 'montserrat', sans-serif;
    transition: all 0.3s ease;
    
}
.navbar.sticky{
    padding: 7px 30px;
    background: #000000;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Alex Brush', sans-serif;
 
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #FF16168c;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
section{
    padding-top: 100px;
}


h2{
text-align: center;
text-transform: uppercase;
font-size: 40px;
font-weight: 400;
}  
  .section-header {
    text-align: center;
    margin: 60px auto 20px auto;
  
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
  }
  
  .section-header-underline {
    border: 1px solid #222;
    width: 3rem;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .video-gallery {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
  }
  
  .video-gallery .gallery-item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 580px;
    max-height: 360px;
    width: 48%;
    background: #000;
    cursor: pointer;
  }
  
  .video-gallery .gallery-item img {
    position: relative;
    display: block;
    opacity: .45;
    width: 110%;
    height: 250px;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-23px, 0, 0);
    backface-visibility: hidden;
  }
  
  .video-gallery .gallery-item .gallery-item-caption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
  }
  
  .video-gallery .gallery-item .gallery-item-caption,
  .video-gallery .gallery-item .gallery-item-caption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .video-gallery .gallery-item h2 {
    font-weight: 300;
    overflow: hidden;
    padding: 0.5em 0;
  }
  
  
  .video-gallery .gallery-item h2,
  .video-gallery .gallery-item p {
    position: relative;
    margin: 0;
    z-index: 10;
    text-align: left;
  }
  
  .video-gallery .gallery-item p {
    letter-spacing: 1px;
    font-size: 50%;
  
    padding: 1em 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(10%, 0, 0);
  }
  
  .video-gallery .gallery-item:hover img {
    opacity: .3;
    transform: translate3d(0, 0, 0);
  
  }
  
  .video-gallery .gallery-item .gallery-item-caption {
    text-align: left;
  }
  
  .video-gallery .gallery-item h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 1px;
    background: #fff;
    
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
  }
  
  .video-gallery .gallery-item:hover h2::after {
    transform: translate3d(0, 0, 0);
  }
  
  .video-gallery .gallery-item:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  @media screen and (max-width: 50em) {
    .video-gallery .gallery-item {
      display: inline-block;
      float: none;
      margin: 10px auto;
      width: 100%;
    }
  }
  
  @media (max-width: 947px){
    .slide-licetronicles{
        height: 300px;
        width:400px;
        display: flex;
        align-items: center;
        padding: 30px;
        perspective: 100px;
    }
    
    
    .slide-licetronicles a,
    .slide-licetronicles img{
        padding-top: 30px;
        width: auto;
        height: 19em;
        transition:transform 1s;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    #loader{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 1;
        overflow: visible;
        background:  url(../images/signaturesmallnr.gif) no-repeat center center;
    }
 
    .max-width{
        max-width: 930px;
    }
    
}